body{
    margin: 0%;
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

.heder{
    background-color: black;
    background-image: url(image/section1.svg);
    position: absolute;
    width: 1360px;
    height: 757px;
    
}
.shado{
    height: 344px;
    width: 344px;
    float: left;
}
.crazy{
    font-family: 'Poppins';
font-style: bold;;
font-weight: 800;
font-size: 48px;
line-height: 72px;
text-transform: uppercase;

color: #FFFFFF;

position: absolute;
left: 260px;
top: 179px;

float: left;

}

.crazy2{
    font-family: 'Poppins';
font-style: normal;
font-weight: 800;
font-size: 32px;
line-height: 48px;
/* identical to box height */

text-transform: uppercase;

color: #FFFFFF;

position: absolute;
width: 301px;
height: 48px;
left: 260px;
top: 348px
}
.icon{
    position: absolute;
width: 373px;
height: 425.17px;
left: 811px;
top: 178.42px;
background-image: url(image/pic1.svg);
background-repeat: no-repeat;
transform: matrix(-1, 0, 0, 1, 0, 0);

}
.icon-img{
    background: url(FELq3tpXEAki2cg.png);
transform: matrix(1, 0, 0, 1, 0, 0);
position: relative;
left: 33.35px;
top: 10%;

}
.mint{
    background-color: #ff046d;
    width: 162px;
    height: 46px;
    float: left;
    position: absolute;
    left: 260px;
    top: 443px;
    text-align: center;
}
.mint2{
    background-color: #ff006a00;
    width: 160px;
    height: 44px;
    position: absolute;
    left: 440px;
    top: 441px;
    border: 2px solid rgb(255, 255, 255);
    text-align: center;
}

#atag{
    color: rgb(243, 234, 234);
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: auto;
    margin-top: 2%;
  }
  #atag2{
    color: rgb(243, 234, 234);
    padding: 10px 20px;;
    text-decoration: none;
    display: inline-block;
    margin-top: 2%;
  }
  #navi{
    float: left;
    position: absolute;
width: 1102px;
height: 43.01px;
left: 169px;
top: 34px;
  }

  .max{
    font-family: 'Poppins';
font-style: normal;
font-weight: 800;
font-size: 15px;
line-height: 22px;
text-transform: uppercase;
color: #FFFFFF;

position: absolute;
width: 353px;
height: 69px;
left: 260px;
top: 529px;
  }

  /*Second Section*/

  .medel{
    width: 1360px;
    height: 159px;
    background-color: #051926;
    position: absolute;
    top: 737px;
  }
  .same{
    float: left;
    text-align: center;
    margin: 1% 0% 0% 13%;
  }
  .sobH{
    color: white;
  }
  
  #body-img {
    position: relative;
    top: 918px;
    background-image: url(image/allnft.svg);
    background-size: cover;
    width: 1360px;
    height: 432.45px;
}
  #connect{
    position: absolute;
width: 239px;
height: 239px;
left: 134px;
top: 1439px;

  }

  #connect2{
    position: absolute;
    width: 424px;
    height: 424px;
    left: 900px;
    top: 1200px;
  }

  #connect3{
    position: absolute;
width: 919px;
height: 96px;
left: 260px;
top: 1556px;
  }
  #how{
    position: absolute;
width: 920px;
height: 348px;
left: 260px;
top: 1752px;
  }

  #how2{
    position: absolute;
width: 920px;
height: 420px;
left: 260px;
top: 2200px;
  }